*png
*jpg
*mp3
*bundle.js
/node_modules/**
*properties
deeezertest.js
Server/Config/MopConf.json
/ArtistImages/**
/MusicsFolderProd/**
/MusicsFolder/**
/coverage/**
.env
Build/Config/MopConf.json
Build/.env
**/node_modules/**
**/Build/**