.PlayerSlider {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

.PlayerSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.PlayerSlider:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.PlayerSlider::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.PlayerSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #bebebe;
    height: 10px;
    width: 20px;
    border-radius: 25px;
    background: #bebebe;
    cursor: pointer;
    margin-top: -1px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.PlayerSlider::-moz-range-thumb {
    border: 1px solid #bebebe;
    height: 10px;
    width: 20px;
    border-radius: 25px;
    background: #bebebe;
    cursor: pointer;
    margin-top: -1px;
}

/* All the same stuff for IE */
.PlayerSlider::-ms-thumb {
    border: 1px solid #bebebe;
    height: 10px;
    width: 20px;
    border-radius: 25px;
    background: #bebebe;
    cursor: pointer;
    margin-top: 0px;
}

.PlayerSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #cecece;
}

.PlayerSlider::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #cecece;
}

.PlayerSlider::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #cecece;
}

.ScrollerDiv {
    overflow-y: scroll;
}


.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    grid-gap: 1rem;
}

.table td.text {
    max-width: 120px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.ButtonIcon {
    background-color: transparent;
    color: #bebebe;
    padding: 16px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none !important;
}

.ButtonIcon:hover {
    color: gray;
    border: none !important;
}

.ButtonIcon:active {
    color: rgb(78, 78, 78);
}

.PointerCursor {
    cursor: pointer;
}

#Progress-container .Progress-bar {
    -webkit-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out;
    -moz-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out;
    -o-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out;
    transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out;
    background-color: #CC506C;
}


@media only screen and (max-width: 768px) {
    .Progress-ball{
        transform: scale(1) !important;
    }
}

.Progress-drag {
    margin-left: -4px;
    top: -7px;
    position: absolute;

    -webkit-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out, transform .25s ease-in-out;
    -moz-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out, transform .25s ease-in-out;
    -o-transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out, transform .25s ease-in-out;
    transition: width .5s ease-in-out,height .5s ease-in-out,left .5s ease-in-out, transform .25s ease-in-out;
}


#Progress-container .Progress-ball {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #CC506C;

    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(204,80,108,0.3);
    -moz-box-shadow: 0px 0px 3px 1px rgba(204,80,108,0.3);
    box-shadow: 0px 0px 3px 1px rgba(204,80,108,0.3);
}

#Player:hover .Progress-ball{
    transform: scale(1);
}

#Progress-container .noTransition {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}
